@use "../../Abstract/index" as *;

.case-study {
  text-align: left;

  &__title {
    margin-top: 0;
    font-size: 1.5rem;
  }

  &__description {
    margin: 0.625rem 0 1.25rem;
    font-size: 1rem;
  }

  &__video {
    margin-bottom: 1rem;

    video {
      width: 100%;
      border-radius: 0.375rem;
    }
  }

  &__link {
    display: inline-block;
    color: $color-true-blue;
    text-decoration: none;
    font-weight: bold;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
  }
}
