.projectContainer {
    margin: 25px;
    background-color: #fff;

    &__HeaderSection {
        display: flex;
        border-bottom: 1px solid black;
        margin: 15px;
    }

    &__header {
        width: 65%;
    }

    &__orderSelector {
        width: 35%;
        align-content: space-around;
    }

    h2 {
        margin: 0;
    }
    
    select {
        border: none;
    }
    
    span {
        padding: 0px 2px;
    }


    @media (min-width: 1024px) {

        &__header {
            width: 85%;
            padding: 0px 15px;
        }

        &__orderSelector {
            width: 15%;
            text-align: center;
        }
    }
}