h2 {
  margin: 0;
}

select {
  border: none;
}

span {
  padding: 0px 2px;
}

.projectContainer {
  margin: 25px;
  background-color: #fff;
}

.projectsHeader {
  display: flex;
  border-bottom: 1px solid black;
  margin: 15px;
}

.header {
  width: 10%;
}

.tabbedHeader {
  width: 80%;
  text-align: center;
}

.orderSelector {
  width: 10%;
  text-align: end;
}

@media (min-width: 1024px) {
  h2 {
    margin: 0;
  }

  select {
    border: none;
  }

  span {
    padding: 0px 2px;
  }

  .projectContainer {
    margin: 25px 35px;
    background-color: #fff;
    border-radius: 30px;
  }

  .projectsHeader {
    display: flex;
    border-bottom: 1px solid black;
    margin: 15px;
    padding-top: 20px;
  }

  .header {
    width: 10%;
  }

  .tabbedHeader {
    width: 80%;
    text-align: center;
  }

  .orderSelector {
    width: 10%;
    text-align: end;
  }
}
