// COLORS
$color-light-silver: #d9d9d9;
$color-robin-egg-blue: #05cbcb;
$color-screaming-green: #66fa66;
$color-azure: #007bff;
$color-brandeis-blue: #0066ff;
$color-raisin-black: #222;
$color-davy-grey: #555;
$color-chinese-white: #e0e0e0;
$color-gray: #808080;
$color-true-blue: #0366d6;
$color-dark-charcoal: #333;
$color-chinese-silver: #ccc;
$color-gray-x11: #bbb;
$color-white: #fff;
$color-anti-flash-white: #f3f3f3;
$color-wageningen-green: #35a835;
$color-black: #000;
$color-aqua: #08ffff;
$color-tiffany-blue: #03b3b3;
$color-taupe-gray: #888;
$color-alice-blue: #eaf4ff;

// TYPOGRAPHY
$font-family-base: "Poppins", sans-serif, Arial;

// BREAKPOINTS
$bp-tablet: 48rem;
$bp-desktop: 64rem;

// SHADOWS
$shadow-xs: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
$shadow-sm: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.08);
$shadow-lg: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.3);
$shadow-ng-sm: -0.125rem 0 0.625rem rgba(0, 0, 0, 0.1);
