
.eduContainer{
}

.careerHeader{
  border-bottom: 1px solid red;
}

.careerInnerContainer{
  display: flex;
  padding:0px 150px;
}

.education{
  padding: 0px 50px;
}

.skills{
  padding: 0px 50px;
}

.work{
  padding: 0px 50px;
}

@media only screen and (max-width: 800px) {
  .eduContainer{
    display:list-item;
    padding: 2px;
}
}