.nameCard{
    padding-top: 10vh;
    padding: 0 80px;
}

.homeTextRow{
  padding-top: 20px;
  padding-bottom: 10px;
    display: grid;
    font-size: larger;
}

.myPic{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.downloadIconContainer{
    padding-top: 50px;
    padding-left: 85%;
}

.downloadIcon{
    background-color: white;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.socialMediaContainer{
    display: flex;
    width: 320px;
    margin: 0 auto;
}
.socialMedia{
    padding: 30px 30px;
}

.WhatsAppIcon{
    width: 50px;
    height: 50px;
    margin-top: -5px !important;
}

.instagramIcon{
    width: 40px;
    height: 40px;
}

.linkedinIcon{
    width: 40px;
    height: 40px;
}