@use "../../Abstract/index" as *;

.home {
  text-align: center;

  &__image-wrapper {
    position: relative;
  }

  &__image {
    border-radius: 50%;
    width: 18.75rem;
    height: 18.75rem;
  }

  &__content {
    margin-top: 1rem;
  }

  &__name {
    font-size: 3.125rem;
    font-weight: 500;
    margin: 0;
  }

  &__designation {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;

    &-type {
      color: $color-screaming-green;
      display: inline;
    }
  }

  &__description {
    font-size: 0.875rem;
    padding: 0 1.875rem;
  }

  &__socials {
    margin: 1rem;
  }

  &__social-link {
    display: inline-block;
    background-color: $color-light-silver;
    font-size: 1.56rem;
    margin: 0.625rem;
    height: 1.7rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: $color-black;
  }

  &__button {
    background-color: $color-screaming-green;
    border: none;
    border-radius: 1.25rem;
    width: 10.5rem;
    height: 2.5rem;
    font-size: medium;
    margin: 0.65rem;
    cursor: pointer;
  }
}

@include respond(desktop) {
  .home {
    display: flex;
    align-items: center;
    text-align: unset;
    height: calc(100vh - 5rem);

    &__image-wrapper {
      width: 55%;
      padding: 0 0.65rem;
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 31.25rem;
      height: 31.25rem;
      border-radius: 15%;
    }

    &__content {
      width: 45%;
      margin-top: 6.25rem;
    }

    &__button {
      width: 12.2rem;
      height: 3.125rem;
      font-size: large;
      margin-left: 1.5625rem;
    }

    &__name {
      font-size: 4.375rem;
      font-weight: 600;
      padding-left: 1.5625rem;
    }

    &__designation {
      font-size: 2.1875rem;
      font-weight: 400;
      padding-left: 1.5625rem;
    }

    &__description {
      font-size: 1.25rem;
      max-width: 31.25rem;
      padding-left: 1.5625rem;
    }
  }
}
