.leftSide{
    position: fixed;
    width: 50%;
    height: 100%;
    border-right: 1px solid rgb(138, 222, 255);
    text-align: center;
}

.rightSide{
    float: right;
    width: 50%;
    height: 100%;
}

.profile{
    margin-top: 15%;
    height: 500px;
}

.profilePic{
    border-radius: 50%
}

.innerRight{
    text-align: center;
    height: 500px;
    margin-top: 15%;
}
