
.dropDownMenuItem{
    background-color: white;
    width: 3em;
    height: 5em;
}

.dropDownMenuItemLast{
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    width: 3em;
    height: 5em;
}

.dropDownMenuItemInitial{
    border-radius: 15px 15px 0px 0px;
    background-color: white;
    width: 3em;
    height: 5em;
}

.Icon{
    margin-top: 2px !important;
}

#HomeNav{
    background-color: rgb(232, 226, 236);
}

#CareerNav{
    background-color: rgb(232, 226, 236);
}

#ProjectsNav{
    background-color: rgb(232, 226, 236);
}

#ContactsNav{
    background-color: rgb(232, 226, 236);
}
