.NavOuter{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 1px 0;
}

.dropDownMenuItem{   
    width: 3em;
    margin: 25px 0;
}

#HomeNav{
    background-color: rgb(232, 226, 236);
    padding: 5px 0px;
}

#CareerNav{
    background-color: rgb(232, 226, 236);
    padding: 5px 0px;
}

#ProjectsNav{
    background-color: rgb(232, 226, 236);
    padding: 5px 0px;
}

#ContactsNav{
    background-color: rgb(232, 226, 236);
    padding: 5px 0px;
}

a{
    color: black;
}