
.dropDownMenuItem{
    background-color: white;
    width: 3em;
    height: 5em;
}

.dropDownMenuItemLast{
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    width: 3em;
    height: 5em;
}

.dropDownMenuItemInitial{
    border-radius: 15px 15px 0px 0px;
    background-color: white;
    width: 3em;
    height: 5em;
}

.Icon{
    margin-top: 2px !important;
}