@use "./Abstract/variables" as *;
@use "./Abstract/mixins" as *;

.body {
  &__grey {
    @include background-opacity($color-light-silver, 0.2);
  }
  &__lightBlue {
    background-color: $color-robin-egg-blue;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  cursor: pointer;
}
