.NavBarContainer{
    margin-top: 10%;
    position: fixed;
}

.Home{
    height: 100vh;
    background-color: aqua;
    /* background: radial-gradient(circle at 10% 5%, aqua 0%, white 100%); */
    background: -moz-linear-gradient(-45deg,  aqua 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(-45deg,  rgb(109, 247, 247) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(135deg,  rgb(167, 241, 241) 0%,rgba(255,255,255,0) 100%);
}

.About{
    height: 100vh;
    background-color: blanchedalmond;
}

.EduWork{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.Skills{
    height: 100vh;
    background-color: rgb(217, 250, 184);
}

.Projects{
    padding: 10px;
    height: 100vh;
    background-color: rgb(254, 202, 254);
}

.Contacts{
    height: 80vh;
    background-color: rgb(255, 254, 171);
}

@media only screen and (max-width: 800px) {
    .EduWork{
        height: 1030px;
        background-color: rgb(255, 255, 255);
    }

    .Contacts{
        height: 1100px;
        background-color: rgb(255, 254, 171);
    }
  }