.NavBarContainer{
    margin-top: 8%;
    position: fixed;
}

.Home{
    height: 100vh;
    background-color: aqua;
    /* background: radial-gradient(circle at 10% 5%, aqua 0%, white 100%); */
    background: -moz-linear-gradient(-45deg,  aqua 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(-45deg,  rgb(109, 247, 247) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(135deg,  rgb(167, 241, 241) 0%,rgba(255,255,255,0) 100%);
}

.About{
    height: 100vh;
    background-color: blanchedalmond;
}

.EduWork{
    height: 100vh;
    background-color: rgb(250, 241, 184);
}

.Skills{
    height: 100vh;
    background-color: rgb(217, 250, 184);
}

.Projects{
    height: 100vh;
    background-color: rgb(254, 202, 254);
}

.Contacts{
    height: 100vh;
    background-color: rgb(255, 254, 171);
}