.contactsContainer {
    margin: 20px 40px;
    font-family: poppins;

    &__contactsTop {
        padding: 30px;
        border: 20px;
        background: linear-gradient(to bottom, rgb(255, 255, 255) 65%, #08ffff 35%);
        border-radius: 10px;
    }

    &__heading {
        display: flex;
        font-size: 20px;
        font-weight: 600;

        p {
            margin: 0;
            color: #05cbcb;
        }
    }

    &__subHeading {
        font-size: 10px;
        margin: 0;
        font-weight: 500;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__contactsBottom {
        display: flex;
        width: 320px;
        padding: 10px;
    }

    &__borderSeparator {
        width: 2px;
        height: 20px;
        background-color: #000000;
        margin: 5px 15px;
    }

    &__phoneHolder,
    &__emailHolder {
        display: flex;
        flex-direction: column;

        p:first-of-type {
            font-weight: 500;
        }

        p {
            margin: 0 10px;
            font-size: 10px;
        }
    }

    input {
        padding: 15px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 10px;
        transition: border-color 0.3s;
        margin: 8px 0px;

        &::placeholder {
            font-family: poppins;
        }

        &:focus {
            border-color: #007bff;
            outline: none;
        }
    }

    button {
        background-color: #05cbcb;
        margin: 40px 0px;
        padding: 10px;
        width: 40%;
        border: none;
        border-radius: 40px;
        font-size: 16px;
        font-weight: 600;
        color: white;
    }
}

@media(min-width: 1024px){
    .contactsContainer {
        margin: 60px 100px 10px 100px;
    
        &__contactsTop {
            display: flex;
            padding: 20px 0px;
            background: linear-gradient(to right, rgb(255, 255, 255) 65%, #08ffff 35%);
            border-radius: 30px;
            justify-content: space-around;
        }
    
        &__heading {
            padding-top: 25px;
            font-size: 40px;
        }
    
        &__subHeading {
            font-size: 12px;
        }
    
        &__formHolder {
            text-align: left;
            padding: 10px;
        }
    
        &__contactsBottom {
            text-align: start;
            width: 380px;
            margin: 0 auto;
            padding: 20px;
        }
    
        &__borderSeparator {
            height: 25px;
            margin: 8px 30px;
        }
    
        &__phoneHolder,
        &__emailHolder {
            display: flex;
            flex-direction: column;
    
            p:first-of-type {
                font-weight: bold;
            }
    
            p {
                font-size: 12px;
            }
        }
    
        input {
            padding: 10px;
            font-size: 14px;
        }
    
        button {
            width: 40%;
            font-size: 15px;
        }
    }
}