.comingContainer{
    margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f4f8;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.coming {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2.5rem;
    color: #4a90e2;
    margin: 0 0 10px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.25rem;
    color: #555;
    margin: 0;
  }